.Viewer {
  padding: 20px;
}

.Viewer section {
  margin-bottom: 40px;
}

.Viewer h4 {
  font-size: 22px;
  font-weight: bold;
  font-family: "Nanum Pen Script", cursive;
  margin-bottom: 20px;
}

.Viewer .emotion_img_wrapper {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.Viewer .emotion_img_wrapper img {
  width: 30%;
  margin-bottom: 10px;
}

.Viewer .emotion_descript {
  font-size: 18px;
  font-family: "Nanum Pen Script", cursive;
}

.Viewer .emotion_img_wrapper_1 {
  background-color: #64c964;
  color: white;
}

.Viewer .emotion_img_wrapper_2 {
  background-color: #9dd772;
  color: white;
}

.Viewer .emotion_img_wrapper_3 {
  background-color: #fdce17;
  color: white;
}

.Viewer .emotion_img_wrapper_4 {
  background-color: #fd8446;
  color: white;
}

.Viewer .emotion_img_wrapper_5 {
  background-color: #fd565f;
  color: white;
}

.Viewer .content_wrapper {
  background-color: #ececec;
  border-radius: 5px;
  padding: 20px;
  min-height: 200px;
}

.Viewer .content_wrapper p {
  font-size: 20px;
  font-family: "Nanum Pen Script", cursive;
  line-height: 1.6;
  color: #000;
  white-space: pre-wrap;
  word-wrap: break-word;
}
